@model IEnumerable<DBAccessLibrary.User>

@{
    ViewData["Title"] = "Users";
}

@await Html.PartialAsync("_Message")

<p>
    <a asp-action="Create">Create User</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                <span value="User name">User name</span>
            </th>
            <th>
                <span value="User Type">User Type</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var userType = item.UserType == 0 ? "Normal" : "Admin";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.Label(userType)
            </td>
            <td>
                @if (item.UserType == 0)
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
