@model RourieWebAPI.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@await Html.PartialAsync("_Message")
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-ReturnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp asp-for="ReturnUrl" class="form-control" type="hidden" value=Context.Request.QueryString />

            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
