@model RourieWebAPI.Models.ContactViewModel

@{
    var description = "Create Contact";
    ViewData["Title"] = description;
}
<h1>@description</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" asp-route-contact.Id="@Model.contact.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=contact.CompanyId class="control-label"></label>
                <select asp-for=contact.CompanyId class="form-control" asp-items="ViewBag.CompanySelectList"></select>
                <span asp-validation-for=contact.CompanyId class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.Name class="control-label" name="Text"></label>
                <textarea asp-for=contact.Name class="form-control" text-wrap:normal" type="text" rows="5" placeholder="Please add your experience here"></textarea>
                <span asp-validation-for=contact.Name class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.JobTitle class="control-label"></label>
                <input asp-for=contact.JobTitle class="form-control" />
                <span asp-validation-for=contact.JobTitle class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.Email class="control-label"></label>
                <input asp-for=contact.Email class="form-control" />
                <span asp-validation-for=contact.Email class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.MobileNumber class="control-label"></label>
                <input asp-for=contact.MobileNumber class="form-control" />
                <span asp-validation-for=contact.MobileNumber class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

