@model RourieWebAPI.Models.ErrorViewModel
@{
    ViewData["Title"] = "Page Not Found";
}

<h8 class="text-danger message">The resouce cannot be found!</h8>
@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code> @Model.RequestId </code>
    <strong>Response code:</strong> <code> @Model.Explanation</code>
</p>

<p>
    @Html.ActionLink("Go to companies","Index", "Companies")
</p>
}

